.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 Become a Part Of Our Team
          %p
            This will chang your home,your city and lives of few others.
            %br
            Partner with us in our moment towards the making of swacch Bharath
            %br
            = "-the Dream of out forefathers,greener environments,loveier homes."
          - unless user_signed_in?
            %a.btn.btn-ap{data: {toggle: "modal", target: "#radhi-sign", dismiss: "modal"}} SIGN UP
          %ul.list-inline
            %li
              = link_to "javascript:;" do
                = image_tag "istore.png", alt: "istore"
            %li
              = link_to "https://play.google.com/store/apps/details?id=com.relia.stv.ragpicker", target: '_blank' do
                = image_tag "gplay.png", alt:"play-store"

.container
  .pad2
    .row.remove-row-margin
      .col-md-4
        .row
          = image_tag "pickup.png"
          %h4 Schedule Pickup
      .col-md-4
        .row
          = image_tag "truck.png"
          %h4 Get all your waste paper cloths and otherwaste items picked up
      .col-md-4
        .row
          = image_tag "money.png"
          %h4 Get Money in exchange!

.col-md-12.bg-offer
  .container
    %h2.radh List of all products we carter
    .row
      = link_to "View Service", "javascript:;", class: "btn rtbtn"

#radhi-sign.modal.fade{role: "dialog", tabindex: "-1", "aria-labelledby" => "myModallabel"}
  .modal-dialog.popbox{role: "document"}
    .modal-content.brd0
      .modal-header
        = link_to "javascript:;", class: "close", data: {dismiss: "modal", arial_label: "Close"} do
          &times;
      .modal-body.txtctr
        = image_tag "sj-logo.png"
        .devise-signup-form-partner.txtctr
          = render 'picker/registrations/form', resource_name: :user

        .modal-footer.popfot
