= content_for :top_flash do
  .alert.alert-info.alert-dismissable.mgs-bg
    %a.panel-close.close.cls{"data-dismiss" => "alert"} ×
    .container
      %ul.list-inline
        %li
          %p Want to Partner with ScrapToValue
        %li
          %a.btn{:href => become_partner_path} BECOME A PARTNER
/ Header
.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1{:style => ""}
            We're doing something new & exciting ,
            %br>/
            and everyone's envited
          %p
            &nbsp;This will change your home,your city and lives of few others.
            %br/
            Partner with us in our moment towards the making of swacch Bharath
            %br/
            the Dream of out forefathers,greener environments,loveier homes.
          = link_to 'Book Appointment',  user_categories_path, class: 'btn btn-ap'
          %ul.list-inline
            %li
              %a{:href => "#"}= image_tag "istore.png"
            %li
              %a{:href => "#"}
                = image_tag 'gplay.png'
/ Header
/ How It works
.conatiner
  .col-md-12.pad2
    .row
      .col-md-4
        .row
          = image_tag 'pickup.png'
          %h4 Schedule Pickup
      .col-md-4
        .row
          = image_tag 'truck.png'
          %h4{:style => " "} Get all your waste paper cloths and otherwaste items picked up
      .col-md-4
        .row
          = image_tag 'money.png'
          %h4 Get Money in exchange!
/ /.How It works
/ Rate Card
.col-md-12.bg-offer
  .container
    .row
      - Category.where(status: 1).order(position: :asc).each_with_index do |cat, index|
        .col-md-5ths.col-xs-6{class: "#{'mob-pad' if index != 0}"}
          = image_tag cat.image.url(:thumbnail), class: 'img-responsive thumbnail-one'
          .bg-rate
            %h3= cat.name
            %h5 Rs #{cat.price.to_i}/kg

    .row
      = link_to 'View Rate Card', user_categories_path, class: 'btn rtbtn'

/ Slider
= render partial: "layouts/customer_talk"
