= content_for :top_flash do
  .alert.alert-info.alert-dismissable.mgs-bg
    %a.panel-close.close.cls{"data-dismiss" => "alert"} ×
    .container
      %ul.list-inline
        %li
          %p Want to Partner with ScrapToValue
        %li
          %a.btn{:href => "#"} BECOME A PARTNER
/ Header
.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1{:style => ""}
            We're doing something new & exciting ,
            %br>/
            and everyone's envited
          %p
            This will chang your home,your city and lives of few others.
            %br/
            Partner with us in our moment towards the making of swacch Bharath
            %br/
            the Dream of out forefathers,greener environments,loveier homes.
          %a.btn.btn-ap{:href => "#", :style => ""} Book Appointment
          %ul.list-inline
            %li
              %a{:href => "#"}= image_tag "istore.png"
            %li
              %a{:href => "#"}
                = image_tag 'gplay.png', :alt => "play-store"
/ Header
/ How It works
.conatiner
  .col-md-12.pad2
    .row
      .col-md-4
        .row
          = image_tag 'pickup.png'
          %h4 Schedule Pickup
      .col-md-4
        .row
          = image_tag 'truck.png'
          %h4{:style => " "} Get all your waste paper cloths and otherwaste items picked up
      .col-md-4
        .row
          = image_tag 'money.png'
          %h4 Get Money in exchange!
/ /.How It works
/ Rate Card
.col-md-12.bg-offer
  .container
    .row
      .col-md-5ths.col-xs-6
        %a{:href => "#"}
          = image_tag 'cloths.png', :alt => "clothes", :style => "width:100%;", class: 'img-responsive'
          .bg-rate
            %h3 Cloths
            %h5 Rs 15/kg
      .col-md-5ths.col-xs-6.mob-pad
        %a{:href => "#"}
          = image_tag 'bottles.png', :alt => "bottles", :style => "width:100%;", class: 'img-responsive'
          .bg-rate
            %h3 Glass Bottels
            %h5 Rs 50/kg
      .col-md-5ths.col-xs-6.mob-pad
        %a{:href => "#"}
          = image_tag 'papper.png', :alt => "papper", :style => "width:100%;", class: 'img-responsive'
          .bg-rate
            %h3 News Paper
            %h5 Rs 50/kg
      .col-md-5ths.col-xs-6.mob-pad
        %a{:href => "#"}
          = image_tag 'books.png', :alt => "books", :style => "width:100%;", class: 'img-responsive'
          .bg-rate
            %h3 Old Books
            %h5 Rs 10/kg
      .col-md-5ths.col-xs-6.mob-pad
        %a{:href => "#"}
          = image_tag 'iron.png', :alt => "iron", :style => "width:100%;", class: 'img-responsive'
          .bg-rate
            %h3 Steel
            %h5 Rs 60/kg
    .row
      %a.btn.rtbtn{:href => "#"}
        View Rate Card
/ /. Rate Card
/ Slider
.container.pad3
  .col-md-12
    .row
      .col-md-12
        %h3 What our customer think about us
      .col-lg-6.col-lg-offset-3{"data-wow-delay" => "0.2s"}
        #quote-carousel.carosel1.carousel.slide{"data-ride" => "carousel"}
          .carousel-inner.text-center
            / Quote 1
            .item.active
              .row
                .col-md-12.crtxt
                  .row
                    = image_tag 'aviator.png', :alt => "slide1"
                  %p Andrea Pierce
                  %p Et harum qiudem rerum facilis est et expedita distictio.Nams impedit
            / Quote 2
            .item
              .row
                .col-md-12.crtxt
                  .row
                    = image_tag 'aviator.png', :alt => "slide2"
                  %p Andrea Pierce
                  %p Et harum qiudem rerum facilis est et expedita distictio.Nams impedit
      / Slider Indicators
      .col-md-8.col-md-offset-4
        #quote-carousel.slide{"data-ride" => "carousel"}
          %ol.carousel-indicators.caroselimgs
            %li{"data-slide-to" => "1", "data-target" => "#quote-carousel"}
              = image_tag 'carosol-indicator1.png', class: 'img-responsive'
            %li{"data-slide-to" => "2", "data-target" => "#quote-carousel"}
              = image_tag 'carosol-indicator2.png', class: 'img-responsive'