/ Navigation
%nav.navbar.navbar-default.navbar-fixed-top.topnav{:role => "navigation"}
  / Alert
  .alert.alert-info.alert-dismissable.mgs-bg
    %a.panel-close.close.cls{"data-dismiss" => "alert"} ×
    .container
      %ul.list-inline
        %li
          %p Want to Partner with ScrapToValue
        %li
          %a.btn{:href => "#"} BECOME A PARTNER
  / / Alert
  = render 'shared/navigation'
/ /.Navigation
/ Header
.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1{:style => ""}
            We're doing something new & exciting ,
            %br>/
            and everyone's envited
          %p
            &nbsp;This will change your home,your city and lives of few others.
            %br/
            Partner with us in our moment towards the making of swacch Bharath
            %br/
            the Dream of out forefathers,greener environments,loveier homes.
          = link_to 'Book Appointment',  user_categories_path, class: 'btn btn-ap'
          %ul.list-inline
            %li
              %a{:href => "#"}= image_tag "istore.png"
            %li
              %a{:href => "#"}
                = image_tag 'gplay.png'
/ Header
/ How It works
.conatiner
  .col-md-12.pad2
    .row
      .col-md-4
        .row
          = image_tag 'pickup.png'
          %h4 Schedule Pickup
      .col-md-4
        .row
          = image_tag 'truck.png'
          %h4{:style => " "} Get all your waste paper cloths and otherwaste items picked up
      .col-md-4
        .row
          = image_tag 'money.png'
          %h4 Get Money in exchange!
/ /.How It works
/ Rate Card
.col-md-12.bg-offer
  .container
    .row
      .col-md-5ths.col-xs-6
        %a{:href => "#"}
          = image_tag 'cloths.png', class: 'img-responsive'
          .bg-rate
            %h3 Cloths
            %h5 Rs 15/kg
      .col-md-5ths.col-xs-6.mob-pad
        %a{:href => "#"}
          = image_tag 'bottles.png', class: 'img-responsive'
          .bg-rate
            %h3 Glass Bottels
            %h5 Rs 50/kg
      .col-md-5ths.col-xs-6.mob-pad
        %a{:href => "#"}
          = image_tag 'papper.png', class: 'img-responsive'
          .bg-rate
            %h3 News Paper
            %h5 Rs 50/kg
      .col-md-5ths.col-xs-6.mob-pad
        %a{:href => "#"}
          = image_tag 'books.png', class: 'img-responsive'
          .bg-rate
            %h3 Old Books
            %h5 Rs 10/kg
      .col-md-5ths.col-xs-6.mob-pad
        %a{:href => "#"}
          = image_tag 'iron.png', class: 'img-responsive'
          .bg-rate
            %h3 Steel
            %h5 Rs 60/kg
    .row
      %a.btn.rtbtn{:href => "#"}
        View Rate Card
/ /. Rate Card
/ Slider
.container.pad3
  .col-md-12
    .row
      .col-md-12
        %h3 What our customer think about us
      .col-md-8.col-md-offset-2
        #myCarousel.carousel.slide.carosel1{"data-ride" => "carousel"}
          .carousel-inner.text-center{:role => "listbox"}
            / Quote 1
            .item.active
              .row
                .col-md-12.crtxt
                  .row
                    = image_tag 'aviator.png'
                  %p Andrea Pierce
                  %p Et harum qiudem rerum facilis est et expedita distictio.Nams impedit
            / Quote 2
            .item
              .col-md-12.crtxt
                .row
                  = image_tag 'aviator.png'
                %p Andrea Pierce
                %p Et harum qiudem rerum facilis est et expedita distictio.Nams impedit
      / Slider Indicators
    .col-md-8.col-md-offset-2
      %ol.carousel-indicators{:style => ""}
        %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
          = image_tag 'carosol-indicator1.png'
        %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
          = image_tag 'carosol-indicator2.png'
/ / Slider
/ Footer
= render 'shared/footer'
/ / Footer
/ pop up
= render 'shared/pop_up'
