%nav.navbar.navbar-default.navbar-fixed-top.topnav{:role => "navigation"}
  .container.topnav
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand topnav' do
        = image_tag 'sj-logo-beta.png'
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'Rate card', user_categories_path
        %li
          = link_to summary_user_pick_ups_path, class: 'pickup_summary' do
            Summary
            %span.num_categories_selected (#{(@selected_category_ids || @selected_categories).try(:size) || 0})
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Profile
            %ul.dropdown-menu.profile-dropdown
              %li
                %a{:href => "#"}
                  %span>
                    = image_tag current_user.avatar.url(:thumbnail) || 'profile/name.png', class: 'img-circle'
                  = current_user.try(:full_name)

              - if can? :manage, PickUp
                %li.divider
                %li
                  = link_to 'Mange Pickups', manage_user_pick_ups_path
              %li.divider
              %li
                = link_to 'Settings', user_profile_path

          /%li
          /  = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn'

        %li
          %p.notice= notice
