.container.topnav
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to root_path, class: 'navbar-brand topnav' do 
      = image_tag 'sj-logo-beta.png'
  / Collect the nav links, forms, and other content for toggling
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to 'Home', root_path
      %li
        = link_to 'About Us', about_us_path
      %li
        %a{:href => "#"} Contact Us
      - unless local_assigns[:picker]
        %li
          - if current_user
            = link_to 'SIGN OUT', destroy_user_session_path, method: :delete, class: 'btn'
          - else
            %a.btn{"data-dismiss" => "model", "data-target" => "#sign-log", "data-toggle" => "modal", :href => "#"} SIGN IN 
      %li
        %p.notice= notice || flash[:error]
