= semantic_form_for [:admin, @zonal] do |f|
  = f.inputs "Address Info" do
    = f.input :zipcode
    = f.input :lat
    = f.input :lon
    = f.input :address
  = f.inputs "Pricing" do
    - category_ids = []
    - f.object.pricing_zonals.each do |pz|
      - category_ids.push(pz.category_id)
      %div(style="display: block; margin: 5px;")
        = f.fields_for :pricing_zonals, pz do |fp|
          = fp.hidden_field :category_id, value: pz.category_id
          %div(style="display: inline-block; width: 100px;")
            = pz.category.name
          %div(style="display: inline-block; width: 100px;")
            = fp.number_field :price
          %div(style="color: red;")= fp.object.errors.full_messages.join(', ')

    - Category.where("id NOT IN (?)", category_ids).each do |cat|
      - pricing = PricingZonal.new({category_id: cat.id})
      %div(style="display: block; margin: 5px;")
        = f.fields_for :pricing_zonals, pricing do |fp|
          = fp.hidden_field :category_id, value: cat.id
          %div(style="display: inline-block; width: 100px;")
            = cat.name
          %div(style="display: inline-block; width: 100px;")
            = fp.number_field :price
  = f.submit
