- month = nil
- history_pick_ups.each_with_index do |pickup, index|
  - start_time = pickup.start_time
  - new_month = start_time.strftime("%B")
  .row
    - if new_month != month
      - month = new_month
      %h4.fw4= new_month
    .col-md-6.padlft
      %ul.list-inline
        %li= start_time.strftime("#{start_time.day.ordinalize} %B, %A")
        %li= pickup.pick_time
    .col-md-6.txtrgt
      - if pickup.status == PickUp::STATUSES[:done]
        - status = 'PICKED UP'; css = 'txtgreen'
      - else
        - status = 'CANCELLED'; css = 'txtred'
      %ul.list-inline
        %li
          %p{class: css}= status
        %li
          %a.btn.more-h{href: "javascript:void(0);", 'data-more'=>"show-more-h#{index}"} More
    .col-md-12.show-more-h.intxt{class: "show-more-h#{index}"}
      .row
        %div
          %p payment:
          %p= pickup.payment_method
        %div
          %p Material
          %ol
            - pickup.categories.each do |cat|
              %li
                %span.col-one= cat.name
                %span Rs. #{cat.price}/kg
