.container.lst2pad
  .row
    / Tabs
    .list-nav
      %ul.list-inline
        - i = 0
        - unless user_signed_in?
          %li.clrbk
            %a{:href => "#"} #{i += 1}.Sign-up
        %li{ class: ('clrbk' if user_signed_in?) }
          %a{:href => "#"} #{i += 1}.Address
        %li
          %a{:href => "#"} #{i += 1}.Timings
    .col-md-12
      .row
        - unless user_signed_in?
          / 1.Sign in
          .tab-sign
            = render 'sign_up_tab'

        = render 'form'
