- resource.is_yard = true if resource.new_record? && resource.errors.blank?
= form_for resource, as: resource_name, url: picker_user_registration_path(resource_name), remote: true, :html => {:class => 'signup', 'data-parsley-validate'=> true, id: 'signupForm'} do |f|
  .form-group
    - if resource.errors.any?
      #error_explanation
        = render 'shared/alert_errors', resource: resource

    = f.text_field :full_name, class: "infln", placeholder: "FULL NAME", required: true, 'data-parsley-errors-container' => '#full_name_errors'
    %span.mandatory-span *
    #full_name_errors

    %ul.list-inline.list-radio
      %li.pull-left
        .radio
          = f.radio_button :is_yard, false, class: "ind"
          %label{for: "user_is_yard_false"} INDIVIDUAL
      %li.pull-right
        .radio
          = f.radio_button :is_yard, true, class: "yrd"
          %label{for: "user_is_yard_true"} YARD
    .form-group.iual
      = f.text_field :phone_number, class: "inph phone_number", placeholder: "PHONE NUMBER", required: true, maxlength: 10, 'data-parsley-errors-container' => '#phone_number_errors'
      %span.mandatory-span *
      #phone_number_errors
      = f.password_field :password, class: "inpw", placeholder: "PASSWORD", required: true, 'data-parsley-errors-container' => '#password_errors'
      %span.mandatory-span *
      #password_errors
      = f.password_field :password_confirmation, class: "inpw", placeholder: "PASSWORD CONFIRMATION", required: true, 'data-parsley-errors-container' => '#password_confirmation_errors'
      %span.mandatory-span *
      #password_confirmation_errors
    .form-group.yard
      = f.text_field :address, class: "inad1", placeholder: "ADDRESS LINE 1"
      %span.mandatory-span *
      = f.text_field :address2, class: "inad1", placeholder: "ADDRESS LINE 2"
      %span.mandatory-span *
      = f.text_field :pincode, class: "inad1", placeholder: "PIN CODE"
      %span.mandatory-span *

    = f.submit 'SIGN UP', class: "btn popbtn"
