- resource.is_yard = true if resource.new_record? && resource.errors.blank?
= form_for resource, as: resource_name, url: picker_user_registration_path(resource_name), remote: true, :html => {:class => 'signup', 'data-parsley-validate'=> true, id: 'signupForm'} do |f|
  .form-group
    - if resource.errors.any?
      #error_explanation
        = render 'shared/alert_errors', resource: resource

    = f.text_field :full_name, class: "infln", placeholder: "FULL NAME", required: true

    %ul.list-inline
      %li.pull-left
        .radio
          = f.radio_button :is_yard, false, class: "ind"
          %label{for: "user_is_yard_false"} INDIVIDUAL
      %li.pull-right
        .radio
          = f.radio_button :is_yard, true, class: "yrd"
          %label{for: "user_is_yard_true"} YARD
    .form-group.iual
      = f.text_field :phone_number, class: "inph", placeholder: "PHONE NUMBER", required: true
      = f.password_field :password, class: "inpw", placeholder: "PASSWORD", required: true
      = f.password_field :password_confirmation, class: "inpw", placeholder: "PASSWORD CONFIRMATION", required: true
    .form-group.yard
      = f.text_field :address, class: "inad1", placeholder: "ADDRESS LINE 1"
      = f.text_field :address2, class: "inad1", placeholder: "ADDRESS LINE 2"
      = f.text_field :pincode, class: "inad1", placeholder: "PIN CODE"

    = f.submit 'SIGN UP', class: "btn popbtn"
