- @page_title = "Edit Account"
= render 'user/profile/nav_bar'
/ page Content
.container-fluid.edt-pad
  .row
    .col-md-2
      .row
        = image_tag @user.avatar.url(:thumbnail) || 'aviator.png', class: 'choose_user_avatar img-circle'
    = simple_form_for @user, url: user_profile_path, html: {'data-parsley-validate'=> true}, method: :patch do |f|
      .col-md-8.pflpad
        .row
          .col-md-8
            %table.table.table-user-information
              %tbody
                %tr
                  %td
                    = image_tag 'profile/name.png', class: 'hidden-xs'
                  %td
                    = f.input :full_name, label: false
                %tr
                  %td
                    = image_tag 'profile/address.png'
                  %td
                    = f.input :email, label: false, placeholder: 'Email'
                %tr
                  %td
                    = image_tag 'profile/password.png'
                  %td
                    = f.input :current_password, input_html: { placeholder: 'Current password', required: true}, label: false
                %tr
                  %td
                    = image_tag 'profile/password.png'
                  %td
                    = f.input :password, placeholder: 'New password', input_html: { minlength: 6 }, label: false
                %tr
                  %td
                    = image_tag 'profile/password.png'
                  %td
                    = f.input :password_confirmation, placeholder: 'Confirm password', label: false
                %tr
                  %td
                    = image_tag 'profile/phone.png'
                  %td
                    = f.input :phone_number, label: false
                %tr
                  %td
                    = image_tag 'profile/gender.png'
                  %td
                    = f.input :gender, as: :select, collection: User.genders.keys.to_a, label: false
                %tr
                  %td
                    = image_tag 'profile/address.png'
                  / %td #01, 2nd main, 3rd cross 4th sector, Hsr layout bangalore-560102
                  %td
                    = f.input :address, label: false, placeholder: 'Address'
                %tr
                  %td
                  / %td #01, 2nd main, 3rd cross 4th sector, Hsr layout bangalore-560102
                  %td
                    .hide= f.input :avatar, as: :file
                    = f.submit 'UPDATE', class: 'btn btn-default'
