!!!
%html{:lang => "en"}
  %head
    = render 'layouts/head'
  %body
    %nav.navbar.navbar-default.navbar-fixed-top.topnav{:role => "navigation"}
      = yield :top_flash
      = render 'shared/navigation', picker: true

    = yield

    = render 'shared/footer'
    = insert_paloma_hook
